html{
  background-color:white;
}
/* changes background colour for entire html page */

header{
  background-color: #ffe524;
  padding: 1.5em 1.5em 1.5em 1.5em;
  display: block;
}
/* changes colour for page header */

h1{
  text-align: center;
  color: purple;
  font-size: 2.5rem;
}
/* aligns text to centre, changes colour, and sets the font size */

nav li{
  display: inline;
}
/* makes initial list diplay as a line instead of stacked */

nav{
  text-align: center;
}
/* centers text to the middle of the page */

nav a{
  display: inline-block;
  padding: .5em .5em .5em .5em;
  margin: .1em .1em .1em .1em;
  background-color: #b2a215;
  color: white;
  text-decoration: none;
  border-radius: .2em;
}
/* creates rounded boxes around the list items, changes the colour of the boxes
to a specific colour, and sets the text colour */

nav a:hover {
/* gives h1 (header1) a hover state */
  background-color: #cc3865;
  /* changes the menu items color when hovered over */
}

.colour-quote{
  font-size: 2rem;
  color: #b2a215;
}

.quote1{
  color: #b2a215;
}
